*{
    margin: 0px;
}
body{
    background-color: #F7D5DD;
}
.team{
    width: 28%;
    height: 350px;
    background-color: #101820ff;
    text-align: center;
    padding: 50px 10px;
    float: left;
    margin: 15px 18px 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(31, 30, 30);

}
.team img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 0px;
}
.team h2{
    color: #fff;
    font-family: impact;
    font-weight: normal;
    text-transform: uppercase;
}

.team p{
    color: #fff;
    font-family: candara;
    margin-top: 10px;
}

